<div class='flex items-center flex-wrap justify-center'>
  <label class='m-4'>
    <span class='text-3xl font-semibold block'>Where would you like to stay?</span>
    <Input
      @value={{this.query}}
      class='border-black border-2 rounded-md border-solid w-full'
    />
  </label>
  <label for='order' class='mx-2 border-2 border-black'>
    <span class='font-semibold px-2 py-3'>Order by:</span>
    <select name='order' {{on 'change' this.sortBy}}>
      <option value=''>Select option</option>
      <option value='titleDesc'>Title A-Z</option>
      <option value='titleAsc'>Title Z-A</option>
      <option value='bedroomsAsc'>More Rooms </option>
      <option value='bedroomsDesc'>Fewer Rooms</option>
      <option value='dateDesc'>Most Recent</option>
      <option value='dateAsc'>Last Recent</option>
    </select>
  </label>
</div>

<ul
  class='flex flex-col items-center justify-center max-w-full'
  {{did-insert this.loadRentals}}
>
  <Rentals::Filter
    @rentals={{this.rentals}}
    @query={{this.query}}
    @order={{this.sort}}
    as |results|
  >

    <Rentals::InfiniteScroller
      @onLoadMore={{this.loadMore}}
      @canLoad={{this.canLoad}}
    >
      {{#each results as |rental|}}
        <li class='px-20'><Rental @rental={{rental}} /></li>
      {{/each}}
    </Rentals::InfiniteScroller>
  </Rentals::Filter>
</ul>