{{!-- <div class='flex justify-center items-center flex-wrap mt-4'>
  {{#if this.errors}}
    <div class='bg-red-200 p-4 mb-4'>
      <h2 class='text-red-700 font-bold mb-2'>Correct errors:</h2>
    </div>
  {{/if}}
</div> --}}

<form
  {{on 'submit' this.sendRental}}
  class='bg-slate-300 rounded-md p-2 flex flex-wrap items-center justify-center min-h-full mx-auto max-w-lg'
>

  <div class='flex flex-col flex-wrap'>
    <div class='flex flex-row flex-wrap'>
      <div class='flex flex-col flex-wrap'>

        <label class='mx-4'>
          <span class='text-3xl my-4 font-semibold block'>Images</span>
          <input
            type='url'
            class='border-black border-2 rounded-md h-10 text-center border-solid'
            name='image'
            placeholder='Image URL'
          />
        </label>
        {{#if this.errors.image}}
          <div class='bg-red-200 p-4 mb-4'>
            <p class='text-red-700 font-bold mb-2'>{{this.errors.image}}</p>
          </div>
        {{/if}}

        {{!-- {{else if (eq key 'title')}} --}}
        <label class='mx-4'>
          <span class='text-3xl my-4 font-semibold block'>Title</span>
          <input
            type='text'
            class='border-black border-2 rounded-md text-center h-10 border-solid'
            name='title'
            placeholder='Title'
          />

        </label>
        {{#if this.errors.title}}
          <div class='bg-red-200 p-4 mb-4'>
            <p class='text-red-700 font-bold mb-2'>{{this.errors.title}}</p>
          </div>
        {{/if}}

        <label class='mx-4'>
          <span class='text-3xl my-4 font-semibold block'>Owner</span>
          <input
            type='text'
            class='border-black border-2 rounded-md h-10 text-center border-solid'
            name='owner'
            placeholder='Owner'
          />
        </label>
        {{#if this.errors.owner}}
          <div class='bg-red-200 p-4 mb-4'>
            <p class='text-red-700 font-bold mb-2'>{{this.errors.owner}}</p>
          </div>
        {{/if}}
      </div>
      <div class='flex flex-col flex-wrap'>

        <label class='mx-4'>
          <span class='text-3xl my-4 font-semibold block'>City</span>
          <input
            type='text'
            class='border-black border-2 rounded-md h-10 text-center border-solid'
            name='city'
            placeholder='City'
          />
        </label>
        {{#if this.errors.city}}
          <div class='bg-red-200 p-4 mb-4'>
            <p class='text-red-700 font-bold mb-2'>{{this.errors.city}}</p>
          </div>
        {{/if}}
        <label class='mx-4'>
          <span class='text-3xl my-4 font-semibold block'>Category</span>
          <select
            name='category'
            class='border-black border-2 rounded-md h-10 w-full text-md text-center'
          >
            <option value='Community' selected>Community</option>
            <option value='Standalone'>Standalone</option>
          </select>
        </label>
        {{#if this.errors.category}}
          <div class='bg-red-200 p-4 mb-4'>
            <p class='text-red-700 font-bold mb-2'>{{this.errors.category}}</p>
          </div>
        {{/if}}
        <label class='mx-4'>
          <span class='text-3xl my-4 font-semibold block'>Bedrooms</span>
          <input
            type='number'
            class='border-black border-2 rounded-md h-10 text-center border-solid'
            name='bedrooms'
            placeholder='Bedrooms'
          />
        </label>
        {{#if this.errors.bedrooms}}
          <div class='bg-red-200 p-4 mb-4'>
            <p class='text-red-700 font-bold mb-2'>{{this.errors.bedrooms}}</p>
          </div>
        {{/if}}
      </div>
    </div>
    <div class='flex flex-col flex-wrap'>

      <label class='block md:mx-auto lg:mx-auto sm:ml-4 mx-4 w-full'>
        <span
          class='text-3xl font-semibold block my-4 text-center'
        >Description</span>
        <textarea
          type='text'
          class='border-black border-2 rounded-md text-center h-32 border-solid w-full'
          name='description'
          placeholder='Description'
        />
      </label>
      {{#if this.errors.description}}
        <div class='bg-red-200 p-4 mb-4'>
          <p class='text-red-700 font-bold mb-2'>{{this.errors.description}}</p>
        </div>
      {{/if}}

      <button
        type='submit'
        class='bg-blue-300 text-xl rounded-md inline-block mx-auto my-4 text-yellow-100 p-5'
      >CREATE</button>

    </div>
  </div>

</form>