<form
  {{on 'submit' this.updateRental}}
  {{on 'input' this.checkForm}}
  class='my-5'
>
  <div
    class='mx-auto flex w-full max-w-sm flex-col rounded-md border border-gray-200 bg-slate-300 p-4 shadow'
  >
    <div class='flex flex-row justify-center'>
      <div class='mb-4 flex flex-col p-2'>
        <label
          for='image'
          class='mb-1 text-xl font-semibold tracking-wide text-black sm:text-sm'
        >
          Image
          <input
            name='image'
            type='text'
            placeholder='Image'
            value='{{@rental.image}}'
            class='relative w-full rounded border py-2 pl-2 pr-2 text-sm placeholder-gray-400 focus:border-indigo-400 focus:outline-none sm:text-base'
          /></label>

        <div class='h-8'>
          {{#if this.errors.image}}
            <span
              class='mb-3 ml-1 mt-2 flex h-3 items-center text-xs font-medium tracking-wide text-red-500'
            > {{this.errors.image}} </span>

          {{/if}}
        </div>

        <label
          for='title'
          class='mb-1 text-2xl font-semibold tracking-wide text-black sm:text-sm'
        >
          Title
          <input
            name='title'
            type='text'
            placeholder='Title'
            value='{{@rental.title}}'
            class='relative w-full rounded border py-2 pl-2 pr-2 text-sm placeholder-gray-400 focus:border-indigo-400 focus:outline-none sm:text-base'
          />
        </label>

        <div class='h-8'>
          {{#if this.errors.title}}
            <span
              class='mb-3 ml-1 mt-2 flex h-3 items-center text-xs font-medium tracking-wide text-red-500'
            > {{this.errors.title}} </span>

          {{/if}}
        </div>
        <label
          for='owner'
          class='mb-1 text-2xl font-semibold tracking-wide text-black sm:text-sm'
        >
          Owner
          <input
            name='owner'
            type='text'
            placeholder='Owner'
            value='{{@rental.owner}}'
            class='relative w-full rounded border py-2 pl-2 pr-2 text-sm placeholder-gray-400 focus:border-indigo-400 focus:outline-none sm:text-base'
          />
        </label>
        <div class='h-8'>
          {{#if this.errors.owner}}
            <span
              class='mb-3 ml-1 mt-2 flex h-3 items-center text-xs font-medium tracking-wide text-red-500'
            > {{this.errors.owner}} </span>

          {{/if}}
        </div>
      </div>
      <div class='mb-4 flex flex-col p-2'>
        <label
          for='city'
          class='mb-1 text-2xl font-semibold tracking-wide text-black sm:text-sm'
        >
          City
          <input
            name='city'
            type='text'
            placeholder='City'
            value='{{@rental.city}}'
            class='relative w-full rounded border py-2 pl-2 pr-2 text-sm placeholder-gray-400 focus:border-indigo-400 focus:outline-none sm:text-base'
          /></label>
        <div class='h-8'>
          {{#if this.errors.city}}
            <span
              class='mb-3 ml-1 mt-2 flex h-3 items-center text-xs font-medium tracking-wide text-red-500'
            > {{this.errors.city}} </span>

          {{/if}}
        </div>

        <label
          for='category'
          class='mb-1 text-2xl font-semibold tracking-wide text-black sm:text-sm'
        >
          Category
          <select
            name='category'
            type='text'
            value='{{@rental.category}}'
            class='relative w-full rounded border p-2.5 text-sm placeholder-gray-400 focus:border-indigo-400 focus:outline-none sm:text-base'
          >
            <option value='Community' selected>Community</option>
            <option value='Standalone'>Standalone</option>
          </select>
        </label>
        <div class='h-8'>
          {{#if this.errors.category}}
            <span
              class='mb-3 ml-1 mt-2 flex h-3 items-center text-xs font-medium tracking-wide text-red-500'
            > {{this.errors.category}} </span>

          {{/if}}
        </div>

        <label
          for='bedrooms'
          class='mb-1 text-2xl font-semibold tracking-wide text-black sm:text-sm'
        >
          Bedrooms
          <input
            name='bedrooms'
            type='number'
            value='{{@rental.bedrooms}}'
            placeholder='Bedrooms'
            class='relative w-full rounded border py-2 pl-2 pr-2 text-sm placeholder-gray-400 focus:border-indigo-400 focus:outline-none sm:text-base'
          /></label>
        <div class='h-8'>
          {{#if this.errors.bedrooms}}
            <span
              class='mb-3 ml-1 mt-2 flex h-3 items-center text-xs font-medium tracking-wide text-red-500'
            > {{this.errors.bedrooms}} </span>

          {{/if}}
        </div>
      </div>
    </div>
    <div class='p-3'>
      <label
        for='description'
        class='mb-1 text-2xl font-semibold tracking-wide text-black sm:text-sm'
      >
        Description
        <textarea
          name='description'
          type='text'
          placeholder='Description'
          value='{{@rental.description}}'
          class='relative w-full rounded border py-2 pl-2 pr-2 text-sm placeholder-gray-400 focus:border-indigo-400 focus:outline-none sm:text-base'
        ></textarea>
      </label>
      <div class='h-8'>
        {{#if this.errors.description}}
          <span
            class='mb-3 ml-1 mt-2 flex h-3 items-center text-xs font-medium tracking-wide text-red-500'
          > {{this.errors.description}} </span>

        {{/if}}
      </div>
    </div>
    <button
      type='submit'
      class='mx-auto my-8 inline-block rounded-md bg-blue-300 p-5 text-xl text-yellow-100'
    >UPDATE</button>
  </div>

</form>